* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.contenedor {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lista {
  list-style: none;
  display: table-row;
  padding: 0;
}

.lista li {
  border: 1px grey solid;
  display: table-cell;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #658dc6;
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
  user-select: none;
}

.numero-mostrado {
  color: red;
  font-size: 5rem;
  margin-bottom: 50px;
  min-height: 106px;
}
